<div class="carousel-container">

  <div class="carousel-wrapper">
    <!-- Slide -->
    <div class="carousel-track">
      @for (item of items; track item; let i = $index) {
        <div class="carousel-slide" [ngClass]="activeClass(i)">
          <ng-container *ngTemplateOutlet="slideTemplate; context: { $implicit: item, index: i }">
          </ng-container>
        </div>
      }
    </div>
    <!-- Nav buttons -->
    @if (showNav) {
      <button mat-fab (click)="previous()" class="nav-btn prev-btn" aria-label="Previous Slide">
        <mat-icon>chevron_left</mat-icon>
      </button>
    }
    @if (showNav) {
      <button mat-fab (click)="next()" class="nav-btn next-btn" aria-label="Next Slide">
        <mat-icon>chevron_right</mat-icon>
      </button>
    }
    <!-- Dots -->
    @if (showDots) {
      <div class="dots-container">
        @for (item of items; track item; let i = $index) {
          <button (click)="goToSlide(i)" class="dot"
            [class.active]="i === currentIndex" [attr.aria-label]="'Go to slide' + (i+1)">
          </button>
        }
      </div>
    }
    <!-- end of elements -->
  </div>
</div>