<!-- First parallax image // My Work Section -->
<div class="music-container">
    <div class="hero">
        <div class="parallax-img" style="min-height: 200vh"
            [ngStyle]="{'background-image': 'url(' + consoleImage + ')'}">
        </div>

        <div class="title-card" style="text-align: right; right: 8%;">
            <h1 class="music-title">My Work</h1>
            <mat-icon class="music-icon">south</mat-icon>
        </div>
    </div>

    <!-- </div> -->


    <carousel [items]="musicArray" [showDots]="true" [showNav]="true" [showSideSlides]="true"
        (slideChange)="onSlideChange($event)">
        <ng-template #slideTemplate let-music let-index="index">
            <mat-card class="music-card ">
                <mat-card-header>
                    <mat-card-title style="font-family: Train One; font-size: 32px; padding: 8px 0;">
                        {{music.album}}
                    </mat-card-title>
                    <mat-card-subtitle style="font-family: Train One; font-size: 24px; padding: 8px 0;">
                        {{music.artist}}
                    </mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image> -->
                <mat-card-content>
                    <!-- <iframe [src]="getSafeUrl(music.spotifyUrl)" [title]="music.artist+' - '+music.album"
                    class="item-card py-3 spotify-iframe" data-testid="embed-iframe" style="border-radius:12px"
                    width="100%" height="500px" frameBorder="0"
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe> -->
                    <h4 class="text-2xl py-2">My Work: {{music.production}}</h4>
                    <h5 class="text-xl">For Fans of: {{music.genres}}</h5>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </carousel>

    <!-- Second parallax image // My Studio section -->
    <div class="hero">
        <div class="parallax-img" [ngStyle]="{'background-image': 'url(' + drumsImage + ')'}">
        </div>
        <div class="title-card" style="text-align: right; right: 12%;">
            <h1 class="music-title">My Studio</h1>
            <mat-icon class="music-icon">south</mat-icon>
        </div>

    </div>

    <!-- Third parallax image // My band section -->
    <div class="hero">
        <div class="parallax-img" [ngStyle]="{'background-image': 'url(' + moodieboyImage + ')'}">
        </div>
        <div class="title-card" style="left: 12%;">
            <h1 class="music-title">My Band</h1>
            <mat-icon class="music-icon">south</mat-icon>
        </div>
    </div>
</div>