// music.component.scss
.hero {
  // height: 100%;
  min-height: 100vh;
}

.parallax-img {
  position: absolute;
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  opacity: 0.4;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: 0;
}

.music-title {
  font-family: "Train One";
  font-size: 10em;
  color: rgb(249, 235, 228);
  position: relative;
}

.music-icon {
  overflow: visible;
  font-size: 13em;
  text-shadow: 20px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

@media (max-width: 1024px) {

  .music-title,
  .music-icon {
    font-size: 5em !important;
  }

  .parallax-img {
    background-position: center;
  }
}

@media (max-width: 560px) {

  .music-title,
  .music-icon {
    font-size: 3.5em !important;
  }
}